 <div id = "header">
    <nav class="navbar navbar-light"  id = "Navbartext ">
    <a class="navbar-brand" href="../../home">
      <img src="./img/LogoMakr_77FmPB.png" width="45" height="45" class="d-inline-block align-top" alt="" loading="lazy">
      Paurush Batish
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Qualifications<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="#">Downloads</a>
        <a class="nav-item nav-link active" href="#">Contact Me</a>
      </div>
    </div>
   
  </nav>  
 </div>
